// Bootstrap Overrides
$gridColumnWidth1200: 60px;
$gridGutterWidth1200: 20px;

// Colors
$white: #fff;
$off-white: #f1f1f1;
$black: #000;
$off-black: #111;
$gray: #666;
$dark-gray: #333;
$red: #e50606;
$dark-red: #900;
$alert-red: #f00;
$orange: #f60;
$ucf-gold: #fc0;

// Typography
$font-family-sans-serif: 'Helvetica Neue', 'Helvetica-Neue', Helvetica, sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, serif;
