/* Medium + Large Screens */
@media (min-width: 768px) {
  /* TODO */
}


/* Medium + Small Screens */

@media (max-width: 979px) {
  .site-header-actions .weather {
    display: none;
  }

  .site-nav {
    background-color: #fff;
    height: 100%;
    left: -75%;
    opacity: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transition: left 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9), opacity 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    width: 75%;
    z-index: 100000;
  }

  .disable-md-navbar-toggle .site-nav {
    height: 100%;
  }

  .site-nav.slideout {
    height: 100%;
    left: 0;
    opacity: 1;
  }

  .site-nav-overlay.in {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99999;
  }

  .site-nav .container {
    box-sizing: border-box;
    padding: 1.5rem;
    width: 100%;
  }

  .site-nav .close-icon {
    display: block;
  }

  .site-menu {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    text-align: left;
  }

  .site-menu .menu-item {
    padding: 0;
    width: 100%;
  }

  .site-menu a {
    padding: 15px 1.5rem;
  }

  .disable-md-navbar-toggle .ucf-mobile-menu-trigger {
    display: flex;
  }

	.search form.search-form input#s {
		width: 80%;
	}
	.search form.search-form button {
		width: 20%;
	}

	.related-story-image {
		height: 166px;
		width: 166px;
	}
}


/* Small Screens */

@media (max-width: 767px) {
	body {
		font-size: 15px;
		line-height: 23px;
	}

	ul.story-list li .content {
		margin-left: 80px;
	}
	ul.story-list li .thumb {
		width: 65px;
		height: 65px;
  }

  .site-header {
    margin-left: -20px;
    margin-right: -20px;
  }

  .site-header-inner,
  .site-nav .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .site-header-inner .site-header-desc {
    display: none;
  }

	.menu.horizontal li:after {
	  content: "";
	  margin-left: 0;
	}

	#feature h2.feature-cat-title,
	#features .story-list h3,
	#photo-sets h3 {
		margin-top: 15px;
	}

	#photo-sets .photoset-list > div img {
	  width: 100%;
	  height: auto;
	}

	.body-subpage #feature p.story-blurb,
	#features .story-list p.story-blurb {
	  padding-bottom: 20px;
	}

	#single h1 {
		font-size: 24px;
		line-height: 30px;
	}
	#single article .social {
		display: none;
	}

	.fb_iframe_widget,
	.fb_iframe_widget span,
	.fb_iframe_widget span iframe[style] {
		width: 280px !important;
	}

	#search-results h2 {
		font-size: 22px;
	}
	#search-results h1,
	#search-results h3,
	#search-results #sidebar h3,
	#search-result h1 a {
		line-height: 1.1em;
	}
	#search-results ul.story-list li .content h3 {
		font-size: 18px;
		margin-bottom: 6px;
	}
	#search-results #sidebar {
		margin-top: 30px;
	}
	#search-results ul.story-list li ul.meta {
		margin-left: 80px;
	}
	#search-results ul.story-list li ul.meta ul.term-list li {
		display: block;
		height: auto;
		overflow: visible;
	}

	#alerts li,
	#alerts li > .msg > a {
		font-size: 13px;
		line-height: 1.2em;
	}

  .alignleft,
  .alignright {
    margin: 0;
    min-width: 100%;
    float: none;
  }

	.border-left:before,
	.border-right:after,
	.border-both:before,
	.border-both:after {
		background-color: transparent;
  }

  .featured-title,
  .featured-subtitle,
  .featured-byline {
    margin-left: 20px;
    margin-right: 20px;
  }

  .featured-deck {
    margin: 1em 0;
  }

  .featured-story-header {
    margin: 0 -20px 2em -20px;
  }

  .related-story-title-wrapper {
    height: 230px;
  }

  .related-story-title {
    font-size: .95em;
  }

  .related-story-image {
	  height: 230px;
	  margin: 0 auto;
	  width: 230px;
  }

  .well {
    margin: 1em -20px;
  }

  .term-heading {
    font-size: 28px;
    margin-bottom: .5em;
    margin-top: 0;
  }
}
