#external_stories ul li {
  font-family: $font-family-sans-serif;
  font-size: 15px;
  line-height: 1.2;
  margin-bottom: 15px;

  a {
    color: $black;
    display: block;
    text-decoration: underline;
    width: 100%;
  }

  span {
    color: #037f95;
  }

  p {
    font-size: .85rem;
    line-height: 1.3;
    margin: 3px 0;
  }
}

a {
  &.external-stories-view-all {
    clear: right;
    color: #333;
    float: right;
    font-family: "Helvetica Neue",Helvetica-Neue,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 2.333;
    margin-bottom: 12px;
  }
}

#all_external_stories .story-list li {
  margin-bottom: 25px;
  margin-right: 10px;

  a {
    color: #333;
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: underline;

    &:hover {
      color: #000;
    }
  }

  p {
    line-height: 1.4;
    margin: 3px 0;
  }

  span {
    color: #037f95;
    display: block;
    font-size: 1rem;
  }
}

#all_external_stories nav {
  .pagination {
    list-style: none;
    margin-right: 10px;

    li {
      display: inline-block;

      a {
        color: #333;
        font-size: .9rem;
      }

      &.next {
        float: right;
      }
    }
  }
}
