#header {
  margin-bottom: 0;
  margin-top: 28px;
  padding-bottom: 4px;
  position: relative;

  @media (max-width: 767px) {
    margin-top: 20px;
  }

  #page-title h1,
  #page-title h2 {
    color: $off-black;
    display: block;
    font-family: $font-family-sans-serif;
    font-size: 46px;
    font-weight: 300;
    line-height: 1.13;
    margin-bottom: 10px;
    text-transform: none;

    span {
      line-height: 1;
    }

    a,
    .body-photoset & a {
      background: url('../img/ucftoday4.png') left center no-repeat;
      display: block;
      height: 67px;
      text-indent: -9999px;

      @media (max-width: 767px) {
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: auto;
        padding-bottom: 12.5%;
        width: 100%;
      }
    }

    @media (max-width: 979px) {
      width: 414px;
    }

    @media (max-width: 767px) {
      font-size: 22px;
      height: auto;
      line-height: 1;
      width: 100%;
    }
  }

  hr {
    margin-bottom: 0;
    margin-top: 0;
  }
}

#header-menu {
  background-color: $off-white;
  height: 28px;
  margin-bottom: 30px;
  overflow: hidden;

  @media (max-width: 979px) {
    margin-bottom: 20px;

    ul li a {
      font-size: 12px;
      font-weight: 400;
      margin-right: 7px;
    }
  }

  .search {
    float: right;
    position: relative;
    top: -3px;
    width: 200px;

    @media (max-width: 979px) {
      width: 175px;
    }

    .ie-new & {
      width: 180px;

      button {
        padding: 0 3px;
      }
    }
  }

  .ucf-mobile-menu-trigger {
    display: none;
  }

  @media (min-width: 767px) {
    ul {
      float: left;
      height: 28px !important;
      padding-left: 10px;
      padding-top: 4px;

      li {
        line-height: 1.25;
        margin: 0;
        padding-bottom: 4px;

        &::after {
          content: '';
          margin-left: 0;
        }

        a {
          color: $black;
          font-family: $font-family-sans-serif;
          font-size: 15px;
          font-weight: 300;
          line-height: 1.2;
          margin-right: 10px;

          &:hover {
            color: $black;
          }
        }
      }
    }

    .close-icon {
      display: none;
    }
  }

  @media (max-width: 767px) {
    background-color: $black;
    margin-bottom: 15px;

    ul {
      background: $white;
      left: 0;
      margin: 0;
      opacity: .95;
      overflow: hidden;
      padding: 0;
      position: absolute;
      top: 0;
      transition: width .5s;
      width: 0;
      z-index: 100000;

      &.slide-out {
        width: 250px;
      }

      li {
        border-bottom: solid 1px #ddd;
        cursor: pointer;
        display: block;
        float: none;
        font-size: 16px;
        margin: 0;
        width: 250px;

        &:first-child {
          background-color: $gray;
          display: block;
          height: 50px;

          a {
            color: $white;
            font-size: 20px;
            padding-top: 12px;
          }
        }

        a {
          color: $black;
          display: block;
          font-size: 18px;
          padding: 10px 15px;
        }
      }
    }

    .close-icon {
      color: $white;
      cursor: pointer;
      display: inline-block;
      font-family: $font-family-sans-serif;
      font-style: normal;
      opacity: .7;
      padding: 12px;
    }

    .ucf-mobile-menu-trigger {
      background-image: url('../img/arrow.png');
      background-position: 62px, 0;
      background-repeat: no-repeat;
      color: $white;
      cursor: pointer;
      display: inline-block;
      font-family: $font-family-sans-serif;
      font-size: 17px;
      padding: 3px 23px 1px 7px;
      text-transform: uppercase;
    }

    .search {
      margin-right: 2px;
      width: 165px;
    }
  }
}
