#header {
  margin-bottom: 0;
  margin-top: 28px;
  padding-bottom: 4px;
  position: relative;

  #page-title h1,
  #page-title h2 {
    color: $off-black;
    display: block;
    font-family: $font-family-sans-serif;
    font-size: 46px;
    font-weight: 300;
    line-height: 1.13;
    margin-bottom: 10px;
    text-transform: none;

    span {
      line-height: 1;
    }

    a,
    .body-photoset & a {
      background: url('../img/ucftoday4.png') left center no-repeat;
      display: block;
      height: 67px;
      text-indent: -9999px;
    }
  }

  hr {
    margin-bottom: 0;
    margin-top: 0;
  }
}

#header-menu {
  background-color: $off-white;
  height: 28px;
  margin-bottom: 30px;
  overflow: hidden;

  .search {
    float: right;
    position: relative;
    top: -3px;
    width: 200px;

    .ie-new & {
      width: 180px;

      button {
        padding: 0 3px;
      }
    }
  }

  .ucf-mobile-menu-trigger {
    display: none;
  }
}

@media (min-width: 767px) {
  #header-menu {
    ul {
      float: left;
      height: 28px;
      padding-left: 10px;
      padding-top: 4px;

      li {
        line-height: 18px;
        margin: 0;
        padding-bottom: 4px;

        &:after {
          content: '';
          margin-left: 0;
        }

        a {
          color: #000;
          font-family: $font-family-sans-serif;
          font-size: 15px;
          font-weight: 300;
          line-height: 18px;
          margin-right: 10px;

          &:hover {
            color: #000;
          }
        }
      }
    }

    .close-icon {
      display: none;
    }
  }
}

@media (max-width: 979px) {
  #header #page-title h1,
  #header #page-title h2 {
    width: 414px;
  }

  #header-menu {
    margin-bottom: 20px;

    .search {
      width: 175px;
    }

    ul li a {
      font-size: 12px;
      font-weight: 400;
      margin-right: 7px;
    }
  }
}

@media (max-width: 767px) {
  #header {
    margin-top: 20px;

    #page-title h1,
    #page-title h2 {
      width: 100%;
      height: auto;
      font-size: 22px;
      line-height: 1em;
    }
  }


  #header #page-title h1 a,
  .body-photoset #header #page-title h2 a {
    width: 100%;
    height: auto;
    padding-bottom: 12.5%;
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
  }

  #header-menu {
    ul {
      background: #fff;
      left: 0;
      margin: 0;
      opacity: .95;
      overflow: hidden;
      padding: 0;
      position: absolute;
      top: 0;
      transition: width 0.5s;
      -webkit-transition: width 0.5s;
      /* Safari */
      z-index: 100000;
      width: 0;

      &.slide-out {
        width: 250px;
      }

      li {
        border-bottom: solid 1px #ddd;
        cursor: pointer;
        display: block;
        float: none;
        font-size: 16px;
        margin: 0;
        width: 250px;

        &:first-child {
          background-color: #666;
          display: block;
          height: 50px;

          a {
            color: #fff;
            font-size: 20px;
            padding-top: 12px;
          }
        }
      }
    }

    margin-bottom: 15px;
    background-color: #000;

    .close-icon {
      color: white;
      cursor: pointer;
      display: inline-block;
      font-family: 'Helvetica Neue', 'Helvetica-Neue', Helvetica, sans-serif;
      font-style: normal;
      opacity: 0.7;
      padding: 12px;
    }

    .ucf-mobile-menu-trigger {
      background-position: 62px, 0;
      background-image: url('../img/arrow.png');
      background-repeat: no-repeat;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: 'Helvetica Neue', 'Helvetica-Neue', Helvetica, sans-serif;
      font-size: 17px;
      padding: 3px 23px 1px 7px;
      text-transform: uppercase;
    }

    .search {
      width: 165px;
      margin-right: 2px;
    }
  }

  #header-menu ul li a {
    color: #000;
    display: block;
    font-size: 18px;
    padding: 10px 15px;
  }
}
