#more_headlines {
  h2 {
    line-height: 1.4;
  }

  .story-list {
    li {
      line-height: normal;
      margin-bottom: 15px;
    }

    a {
      color: $black;
      font-size: 15px;
      font-weight: normal;
      text-decoration: underline;
    }
  }
}
