#photoset h3 {
  font-family: Georgia, serif;
  font-size: 26px;
  line-height: 34px;
  font-weight: normal;
  text-transform: none;
  margin-top: 0;
}

#single #photoset .ucf-social-links-default {
  margin-top: 5px;
}

#photoset ul.photoset-list li {
  background-color: #f9f9f9;
  margin-bottom: 35px;
  width: 100%;
}

#photoset ul.photoset-list li img {
  width: 100%;
  height: auto;
}

#photoset ul.photoset-list li p {
  font-family: 'Helvetica Neue', 'Helvetica-Neue', Helvetica, sans-serif;
  font-size: 14px;
  padding: 15px 10px;
  line-height: 20px;
}

#photoset ul.photoset-list li p span {
  font-size: 36px;
  color: #ffc907;
  margin-right: 10px;
  padding-bottom: 5px;
  display: block;
  float: left;
}

#photo-sets h3 {
  font-weight: normal;
  text-transform: none;
  font-size: 24px;
  line-height: 26px;
  margin-top: -4px;
}

#photo-sets .photoset-list>div img {
  width: 220px;
  height: 203px;
}

#photo-sets .photoset-list>div h3 {
  font-size: 16px;
  line-height: 16px;
  margin-top: 10px;
}

@media (max-width: 767px) {
  #photo-sets h3 {
    margin-top: 15px;
  }

  #photo-sets .photoset-list>div img {
    width: 100%;
    height: auto;
  }}
