#promos {
  .indent {
    display: block;
    height: 0;
    margin: 0;
    text-indent: -9999px;
    width: 0;
  }

  .story-list li {
    margin-top: 25px;

    &:first-child {
      margin-top: 0;
    }

    .story-blurb {
      max-height: 122px;
    }

    h3 {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}
