.search .search-form {
  font-family: $font-family-sans-serif;
  font-size: 11px;
  margin: 0;

  label {
    display: block;
    height: 0;
    text-indent: -9999px;
    width: 0;
  }

  #s {
    border: 1px solid #bbb;
    border-radius: 0;
    border-right: 0;
    float: left;
    font-family: $font-family-sans-serif;
    height: 24px;
    line-height: 1.273;
    margin-bottom: 0;
    padding: 4px;
    width: 85%;

    @media (max-width: 979px) {
      width: 80%;
    }
  }

  button {
    background-color: #666;
    border: 0;
    color: #fff;
    display: block;
    float: left;
    height: 24px;
    line-height: 1.273;
    text-transform: uppercase;
    width: 15%;

    @media (max-width: 979px) {
      width: 20%;
    }
  }
}

@media (max-width: 979px) {
  .search form.search-form input#s {
    font-size: 14px;
    height: 38px;
    width: 80%;
  }

  .search form.search-form button {
    color: #000;
    background-color: #fc0;
    height: 38px;
    width: 20%;
  }
}
