// News
#ucf_news ul.story-list li {
  margin-top: 15px;
}

#ucf_news ul.story-list li p.story-blurb {
  font-size: 15px;
  line-height: 22px;
  max-height: 113px;
}

#ucf_news ul.story-list li a {
  color: #000;
}

#ucf_news ul.story-list li a:hover {
  text-decoration: none;
}
