.weather-today-nav {
  @media (max-width: 979px) {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .weather-status {
    display: flex;
    flex-direction: row;
  }

  .weather-date {
    color: #555;
    display: none;
    font-size: 12px;
    letter-spacing: .05em;
    margin-bottom: 15px;
    text-transform: uppercase;

    @media (max-width: 979px) {
      display: block;
    }
  }

  .weather-icon {
    color: $ucf-gold;
    font-size: 1.75rem;
    margin-right: 5px;

    @media (max-width: 979px) {
      font-size: 2.75rem;
      margin-right: 15px;
    }
  }

  .weather-text {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    margin-top: 5px;

    @media (max-width: 979px) {
      flex-direction: column;
    }
  }

  .weather-temp {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1;
    margin-right: 5px;

    @media (max-width: 979px) {
      font-size: 1.5rem;
      margin-right: 0;
    }
  }

  .weather-condition {
    font-size: 12px;
  }
}
