#ucf_photo p.story-blurb {
  font-family: 'Helvetica Neue', 'Helvetica-Neue', Helvetica, sans-serif;
  font-size: 12.5px;
  line-height: 20px;
  max-height: 40px;
}

#ucf_photo h3 {
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
}
