#ucf_photo {
  .story-blurb {
    font-family: $font-family-sans-serif;
    font-size: 12.5px;
    line-height: 1.6;
    max-height: 40px;
  }

  h3 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
  }
}
