#feature-story {
  font-family: $font-family-serif;

  .feature-headlines {
    margin-bottom: 1.8rem;
  }

  .category-title {
    color: #848484;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
  }

  .story-title {
    font-family: $font-family-serif;
    line-height: 1.2;

    @media (max-width: 544px) {
      font-size: 28px;
    }
  }

  .subtitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
  }

  #byline-date {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
  }

  .feature-story-image {
    margin-bottom: 1.8rem;
  }

  .deck {
    font-size: 18px;
    margin-bottom: 1.8rem;
    width: 60%;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  article {
    margin-bottom: 1.8rem;
  }

  .caption,
  .wp-caption-text {
    color: $gray;
    font-family: $font-family-sans-serif;
    font-size: 12px;
    line-height: 1.5;
    margin-top: 5px;
  }

  #content {
    font-size: 16px;
    line-height: 1.6;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $font-family-sans-serif;
      font-weight: 700;
      line-height: 1.2;
      margin: 1em 0 .5em;
      text-transform: none;
    }

    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1.6em;
    }

    h3 {
      font-size: 1.4em;
    }

    h4 {
      font-size: 1.2em;
    }

    h5 {
      font-size: 1em;
    }

    h6 {
      font-size: 1em;
    }

    p {
      margin-bottom: 16px;
    }

    a, em, strong {
      font-family: $font-family-serif;
    }

    blockquote {
      border-bottom: 1px solid $black;
      border-left: 0;
      border-top: 10px solid $black;
      clear: both;
      float: left;
      margin: 5px 30px 20px -40px;
      padding-left: 0;
      padding-top: 12px;
      width: 40%;

      @media (max-width: 767px) {
        margin-left: 0;
      }

      @media (max-width: 544px) {
        width: 100%;
      }

      p {
        font-family: $font-family-sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.4;

        @media (max-width: 544px) {
          font-size: 20px;
        }

        i {
          font-style: normal;
        }

        a {
          font-family: $font-family-sans-serif;
        }
      }
    }
  }

  #content > p:first-of-type::first-letter {
    color: $black;
    display: block;
    float: left;
    font-family: $font-family-sans-serif;
    font-size: 3em;
    font-weight: 700;
    line-height: 1;
    margin-right: 7px;
    margin-top: 0;
  }

  #source p {
    font-family: $font-family-sans-serif;
    font-size: 12px;
  }

  .video-container {
    margin: 1.8rem 0;
  }

  .related-stories .span3.match-height {
    @media (max-width: 767px) {
      float: left;
      margin: 0 1%;
      width: 48%;
    }

    @media (max-width: 544px) {
      float: none;
      width: 100%;
    }
  }

  .related-story {
    display: block;
    margin-bottom: 1em;
    padding: 0 .25em;
  }

  .related-story-image {
    background-position: center center;
    background-size: cover;
    min-height: 150px;

    @media (max-width: 979px) {
      height: 166px;
      width: 166px;
    }

    @media (max-width: 767px) {
      height: 200px;
      width: 100%;
    }
  }

  .related-story-title-wrapper {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: end !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end !important;
    min-height: 212px;

    @media (max-width: 767px) {
      height: 230px;
    }
  }

  .related-story-title {
    color: $black;
    font-size: .9em;
    margin: 0;
    padding: .25em 0;
    transition: all .25s ease;

    @media (max-width: 767px) {
      font-size: .95em;
    }
  }

  .related-story:hover {
    text-decoration: none;
  }

  .related-story:hover {
    .related-story-title {
      color: $gray;
    }
  }

  a:hover .related-story-title {
    text-decoration: none;
  }
}
