// Single

#single h1 {
  font-family: Georgia, serif;
  font-size: 26px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 0;
}

#single #subtitle {
  color: #666;
  font-size: 18px;
}

#single #story_feat_img {
  width: 100%;
  text-align: center;
  background: #f7f7f7;
}

#single p#caption,
#single p.wp-caption-text {
  font-family: 'Helvetica Neue', 'Helvetica-Neue', Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #666;
  margin-top: 5px;
}

#single #content {
  margin-top: 20px;
}

#single #content a,
#single #social a,
#single #share a {
  color: #990000;
  text-decoration: underline;
}

#single #content a:hover,
#single #social a:hover,
#single #share a:hover {
  color: #000;
}

#single #content p {
  margin-bottom: 16px;
}

#single #content>p:first-child:first-letter {
  font-family: Georgia, serif;
  color: #FFC907;
  display: block;
  float: left;
  font-size: 48px;
  font-weight: normal;
  height: 48px;
  line-height: 48px;
  margin-right: 7px;
  margin-top: 0;
}

/* first letter css hacks for cross-browser consistency */

body:not(:-moz-handler-blocked) #single #content>p:first-child:first-letter {
  margin-top: 6px;
  /* FF */
}

#single .ucf-social-links {
  margin-top: 20px;
}

#single #share {
  margin-top: 40px;
}

#single #share h3 {
  font-family: Georgia, serif;
  text-transform: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  margin-bottom: 10px;
}

#single #share label[for="share_comment"] {
  width: 0;
  height: 0;
  display: block;
  margin: 0;
  text-indent: -9999px;
}

#single #share textarea {
  width: 100%;
  height: 120px;
}

#single #share input#submit {
  border: 2px solid #f1f1f1;
  background-color: #ffc907;
  color: #666;
  font-family: Georgia, serif;
  padding: 5px 10px;
  margin-top: 20px;
}

#single #sidebar h3,
.body-search #sidebar h3 {
  font-family: Georgia, serif;
  text-transform: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 20px;
}

@media (max-width: 767px) {

  #single h1 {
    font-size: 24px;
    line-height: 30px;
  }
  #single article .social {
    display: none;
  }
}
