.body-subpage {
  #header-menu ul li:first-child {
    left: -10px;
    padding-bottom: 0;
    position: relative;
    top: -4px;

    a {
      background: url('../img/today_cat.png') center center no-repeat;
      display: block;
      height: 28px;
      margin-right: 0;
      text-indent: -9999px;
      width: 89px;
    }
  }

  .page-content article {
    margin-top: 20px;
  }
}
