.body-subpage #header-menu ul li:first-child {
  position: relative;
  top: -4px;
  left: -10px;
  padding-bottom: 0;
}

.body-subpage #header-menu ul li:first-child a {
  display: block;
  width: 89px;
  height: 28px;
  background: url('../img/today_cat.png') center center no-repeat;
  text-indent: -9999px;
  margin-right: 0;
}

.body-subpage .page-content article {
  margin-top: 20px;
}

.body-subpage #feature p.story-blurb {
  max-height: 144px;
}
