.border-left,
.border-right,
.border-both {
  position: relative;
}

.border-left:before,
.border-right:after,
.border-both:before,
.border-both:after,
.ie-old .ie-border-left,
.ie-old .ie-border-right {
  display: block;
  width: 1px;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  background-color: #eee;
}

.border-left:before,
.border-both:before,
.ie-old .ie-border-left {
  left: -9px;
}

.border-right:after,
.border-both:after,
.ie-old .ie-border-right {
  right: -9px;
}

.border-bottom {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.border-top {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #eee;
}

ul.story-list,
ul.event-list,
ul.video-list,
ul.announcement-list,
ul.comment-list,
ul.term-list,
ul.photoset-list,
ul.expert-list,
ul.profile-list,
ul.result-list {
  list-style-type: none;
  margin-left: 0;
}

ul.story-list li .story-media {
  float: left;
}

ul.story-list li .story-media .ucf-social-links {
  width: 95px;
}

ul.story-list li .thumb {
  width: 95px;
  height: 105px;
}

ul.story-list li>.thumb {
  float: left;
}

ul.story-list li .content {
  margin-left: 110px;
}



ul.story-list li .content h3 {
  margin-top: -4px;
  font-size: 20px;
  line-height: 24px;
}

ul.story-list li p.story-blurb {
  font-family: Georgia, 'Times New Roman', Times, serif;
  overflow: hidden;
}

ul.event-list li {
  margin-bottom: 20px;
  font-family: 'Helvetica Neue', 'Helvetica-Neue', Helvetica, sans-serif;
}

ul.event-list li .dtstart {
  float: left;
  background-color: #FEF7C8;
  border: 1px solid #DED7A8;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  color: #666;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  padding: 8px 0;
  text-align: center;
  margin-left: 4px;
  width: auto;
}

ul.event-list li .dtstart .month,
ul.event-list li .dtstart .day {
  display: block;
}

ul.event-list li .dtstart .month {
  padding: 0 8px 2px 8px;
}

ul.event-list li .dtstart .day {
  font-size: 16px;
  line-height: 16px;
}

ul.event-list li .summary {
  display: block;
  margin-left: 64px;
  font-size: 14px;
  line-height: 16px;
  padding-top: 3px;
}

ul.event-list li .summary a {
  color: #333;
}

ul.event-list+.more {
  font-family: 'Helvetica Neue', 'Helvetica-Neue', Helvetica, sans-serif;
  font-size: 14px;
}

ul.event-list+.more a {
  color: #333;
}

ul.video-list li,
div.video-list>div,
ul.photoset-list li,
div.photoset-list>div {
  margin-bottom: 20px;
}

ul.video-list li h4,
ul.photoset-list li h4 {
  margin-top: 4px;
}

div.video-list h3 {
  font-size: 22px;
  line-height: 24px;
  color: #333;
  text-transform: none;
  margin: 10px 5px;
}

div.video-list a.thumbnail:hover {
  text-decoration: none;
}

ul.announcement-list li h4 {
  margin-bottom: 4px;
}

.link_list ul li {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 12px;
}

ul.term-list {
  overflow: visible;
}

ul.term-list li {
  display: inline-block;
  float: left;
  padding-right: 4px;
  margin-bottom: 2px;
}

.ie-old ul.term-list li {
  float: none;
  display: inline;
  zoom: 1;
}

ul.expert-list li {
  margin-bottom: 20px;
}

ul.expert-list li img {
  float: left;
  width: 95px;
}

ul.expert-list li h4,
ul.expert-list li p {
  margin-left: 115px;
}

ul.expert-list li h4 {
  margin-top: 0;
}

ul.expert-list li p {
  line-height: 18px;
  margin-bottom: 10px;
}

ul.result-list li {
  padding-left: 25px;
  background-position: left 4px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

ul.result-list li.document {
  background-image: url('../img/document.png');
}

ul.result-list li.html {
  background-image: url('../img/document-html.png');
}

ul.result-list li.zip {
  background-image: url('../img/document-zip.png');
}

ul.result-list li.pdf {
  background-image: url('../img/document-pdf.png');
}

ul.result-list li.word {
  background-image: url('../img/document-doc.png');
}

ul.result-list li.excel {
  background-image: url('../img/document-xls.png');
}

ul.result-list li.powerpoint {
  background-image: url('../img/document-ppt.png');
}

ul.result-list li h3 {
  margin-bottom: 5px;
}

.thumb {
  width: 100%;
}

/* .cropped style uses background-size: cover when it can; older browsers
	use javascript to resize/position the child img */

.thumb.cropped {
  background-color: #f7f7f7;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.ie-old .thumb.cropped {
  text-indent: 0;
}

.thumb.cropped a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.ie-old .thumb.cropped img {
  position: absolute;
}

#fb-root {
  display: none;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  width: 100% !important;
}

.alignleft {
  float: left;
  margin: 0 12px 12px 0;
}

.alignright {
  float: right;
  margin: 0 0 12px 12px;
}

#page-not-found h2 {
  font-size: 26px;
  text-transform: initial;
  letter-spacing: normal;
  line-height: normal;
  margin: 12px 0;
}

.container .well {
  border-radius: 4px;
}

.well {
  border: 0;
  border-radius: 0;
  margin: 2em 0;
}

.related-stories .span3:nth-child(4n+1) {
  margin-left: 0;
}

@media (max-width: 767px) {

  body {
    font-size: 15px;
    line-height: 23px;
  }

  ul.story-list li .content {
    margin-left: 80px;
  }
  ul.story-list li .thumb {
    width: 65px;
    height: 65px;
  }

  .menu.horizontal li:after {
    content: "";
    margin-left: 0;
  }

  .fb_iframe_widget,
  .fb_iframe_widget span,
  .fb_iframe_widget span iframe[style] {
    width: 280px !important;
  }



  .alignleft,
  .alignright {
    margin: 0;
    min-width: 100%;
    float: none;
  }

  .border-left:before,
  .border-right:after,
  .border-both:before,
  .border-both:after {
    background-color: transparent;
  }

  .featured-title,
  .featured-subtitle,
  .featured-byline {
    margin-left: 20px;
    margin-right: 20px;
  }

  .featured-deck {
    margin: 1em 0;
  }

  .featured-story-header {
    margin: 0 -20px 2em -20px;
  }

  .related-story-title-wrapper {
    height: 230px;
  }

  .related-story-title {
    font-size: .95em;
  }

  .related-story-image {
    height: 230px;
    margin: 0 auto;
    width: 230px;
  }

  .well {
    margin: 1em -20px;
  }
}
