// Bootstrap Overrides
$gridColumnWidth1200: 60px;
$gridGutterWidth1200: 20px;

// Colors
$dark-gray: #333;
$orange: #ff6600;
$red: #e50606;

// Typography
$font-family-sans-serif: 'Helvetica Neue', 'Helvetica-Neue', Helvetica, sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, serif;
