// Home Page

.body-home #header-menu ul li:first-child,
.body-404 #header-menu ul li:first-child a,
.body-search #header-menu ul li:first-child a,
.body-photoset #header-menu ul li:first-child a {
  display: none;
}

.body-home #feature h2 {
  font-weight: bold !important;
}

// Subpages

.body-subpage #header-menu ul li:first-child {
  position: relative;
  top: -4px;
  left: -10px;
  padding-bottom: 0;
}

.body-subpage #header-menu ul li:first-child a {
  display: block;
  width: 89px;
  height: 28px;
  background: url('../img/today_cat.png') center center no-repeat;
  text-indent: -9999px;
  margin-right: 0;
}

.body-subpage .page-content article {
  margin-top: 20px;
}

.body-subpage #feature p.story-blurb {
  max-height: 144px;
}

// Single

#single h1 {
  font-family: Georgia, serif;
  font-size: 26px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 0;
}

#single #subtitle {
  color: #666;
  font-size: 18px;
}

#single #story_feat_img {
  width: 100%;
  text-align: center;
  background: #f7f7f7;
}

#single p#caption,
#single p.wp-caption-text {
  font-family: 'Helvetica Neue', 'Helvetica-Neue', Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #666;
  margin-top: 5px;
}

#single #content {
  margin-top: 20px;
}

#single #content a,
#single #social a,
#single #share a {
  color: #990000;
  text-decoration: underline;
}

#single #content a:hover,
#single #social a:hover,
#single #share a:hover {
  color: #000;
}

#single #content p {
  margin-bottom: 16px;
}

#single #content>p:first-child:first-letter {
  font-family: Georgia, serif;
  color: #FFC907;
  display: block;
  float: left;
  font-size: 48px;
  font-weight: normal;
  height: 48px;
  line-height: 48px;
  margin-right: 7px;
  margin-top: 0;
}

/* first letter css hacks for cross-browser consistency */

body:not(:-moz-handler-blocked) #single #content>p:first-child:first-letter {
  margin-top: 6px;
  /* FF */
}

#single .ucf-social-links {
  margin-top: 20px;
}

#single #share {
  margin-top: 40px;
}

#single #share h3 {
  font-family: Georgia, serif;
  text-transform: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  margin-bottom: 10px;
}

#single #share label[for="share_comment"] {
  width: 0;
  height: 0;
  display: block;
  margin: 0;
  text-indent: -9999px;
}

#single #share textarea {
  width: 100%;
  height: 120px;
}

#single #share input#submit {
  border: 2px solid #f1f1f1;
  background-color: #ffc907;
  color: #666;
  font-family: Georgia, serif;
  padding: 5px 10px;
  margin-top: 20px;
}

#single #sidebar h3,
.body-search #sidebar h3 {
  font-family: Georgia, serif;
  text-transform: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 20px;
}

/** Search **/

.body-search .page-content,
.body-404 .page-content {
  margin-top: -20px;
}

#search-results h2 {
  font-weight: 400;
  font-size: 28px;
  margin-top: 0;
  text-transform: none;
}

#search-results h1,
#search-results h3,
#search-results #sidebar h3,
#search-result h1 a {
  font-size: 24px;
  font-family: Georgia, serif;
  margin-bottom: 20px;
  text-transform: none;
  font-weight: normal;
}

#search-results ul.story-list li {
  margin-bottom: 20px;
}

#search-results ul.story-list li .content h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

#search-results ul.story-list li ul.meta {
  list-style-type: none;
  margin-left: 110px;
}

#search-results ul.story-list li ul.meta * {
  font-family: 'Helvetica Neue', 'Helvetica-Neue', Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-style: italic;
  margin-bottom: 4px;
}

#search-results ul.story-list li ul.meta ul.term-list li {
  padding: 0 4px 0 0;
  height: 16px;
}

#search-results span.highlight {
  border: 1px solid #F1F1F1;
  background-color: #ffff3d;
  font-family: 'Helvetica Neue', 'Helvetica-Neue', Helvetica, sans-serif;
}

#search-results #sidebar>div:first-child h3 {
  margin-top: 3px;
}


/** Alerts **/

#alerts {
  margin-bottom: 0;
}

#alerts ul {
  margin-top: 0;
  margin-bottom: 0;
}

#alerts li {
  list-style-type: none;
  font-size: 18px;
  padding: 0;
  margin: 0 0 15px 0;
  min-height: 50px;
  font-family: 'Helvetica Neue', 'Helvetica-Neue', Helvetica, sans-serif;
}

#alerts li.hidden {
  display: none;
}

#alerts li:first-child {
  margin-top: 0;
}

#alerts li>.msg {
  display: block;
  position: relative;
  color: #FFF;
  background-color: #000;
  padding: 13px 35px 10px 20px;
  border-radius: 10px;
}

#alerts li>.msg>a {
  color: #FFF;
  font-size: 16px;
}

#alerts li>.msg>a.close {
  display: block;
  position: absolute;
  float: right;
  top: 10px;
  right: 12px;
  opacity: 1;
  filter: alpha(opacity=100);
  font-size: 20px;
  text-shadow: 0 0 0 transparent;
}

#alerts li>.msg>a:hover {
  cursor: pointer;
}

#alerts li.advisory>.msg {
  background-color: #ffcc00;
}

#alerts li.severe>.msg {
  background-color: #ff0000;
}


/** Achives **/

#archives ul {
  list-style-type: none;
  margin: 0;
}

#archives li {
  margin-bottom: 20px;
}

#archives .thumbnail {
  width: 95px;
  height: 91px;
  float: left;
  padding: 0;
  margin-right: 10px;
  border: none;
}

#archives .month_year {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
  font-weight: normal
}

#archives h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 20px;
}

#archives .ellipse {
  margin-left: 105px;
  font-size: 15px;
  line-height: 22px;
}

#archives .date {
  margin-bottom: 0;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
}

#archives .next {
  float: left;
}

#archives .previous {
  float: right;
}

#archives .next a,
#archives .previous a {
  color: #990000;
  text-decoration: underline;
}

#archives .next a:hover,
#archives .previous a:hover {
  color: #000;
}

#header-menu .ucf-mobile-menu-trigger {
  display: none;
}

#page-not-found h2 {
  font-size: 26px;
  text-transform: initial;
  letter-spacing: normal;
  line-height: normal;
  margin: 12px 0;
}

.container .well {
  border-radius: 4px;
}

.well {
  border: 0;
  border-radius: 0;
  margin: 2em 0;
}

.related-stories .span3:nth-child(4n+1) {
  margin-left: 0;
}

/* Featured Story Styles */

.featured-article>.container:first-of-type p:first-of-type:first-letter {
  font-family: Georgia, serif;
  color: #FFC907;
  display: block;
  float: left;
  font-size: 48px;
  font-weight: normal;
  height: 48px;
  line-height: 48px;
  margin-right: 7px;
  margin-top: 0;
}

.featured-story-header {
  background: #F1F1F1;
  margin-bottom: 3em;
}

.featured-story-header .img-responsive {
  width: 100%;
}

.featured-story-header .featured-title {
  font-size: 28px;
  line-height: 1.2;
  margin-top: 2.25%;
}

.featured-deck {
  margin: 1em 2em 1em 0;
}

.related-stories {
  margin-top: 2em;
}

.related-story {
  display: block;
  padding: 0 .25em;
  margin-bottom: 1em;
}

.related-story-image {
  background-position: center center;
  background-size: cover;
  min-height: 212px;
  width: 212px;
}

.related-story-title-wrapper {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: end !important;
  justify-content: flex-end !important;
  min-height: 212px;
}

.related-story-title {
  background: rgba(0, 0, 0, .85);
  color: #fff;
  font-size: .9em;
  padding: .25em .5em;
  margin: 0;
  text-transform: uppercase;
  transition: all .25s ease;
}

.related-story:hover {
  text-decoration: none;
}

.related-story:hover .related-story-title {
  background: rgba(0, 0, 0, 1);
  color: #fc0;
}

.featured-deck .lead {
  font-size: 18px;
  line-height: 1.4;
}

.featured-byline .ucf-social-links {
  margin-top: 20px;
}

.featured-footer-logo {
  display: block;
  text-align: center;
  color: #000;
  font-family: 'Helvetica Neue', 'Helvetica-Neue', Helvetica, sans-serif !important;
  font-size: 24px;
  margin: 1em 0;
}

a.featured-footer-logo:hover {
  text-decoration: none;
  color: #000 !important;
}

.featured-footer-logo .featured-footer-gold {
  color: #fc0;
  font-weight: 700;
  margin-right: 2px;
}

a:hover .related-story-title {
  text-decoration: none;
}
